.Axis__line {
  stroke: #aaa;
}

.Tick__line {
  stroke: #aaa;
}

.Chart__line {
  stroke: #aaa;
}

.Axis__label {
  text-anchor: middle;
  font-size: 16px;
}

.Axis__tick {
  font-size: 12px;
  fill: #777;
}

.AxisHorizontal .Axis__tick {
  text-anchor: middle;
}

.AxisVertical .Axis__tick {
  dominant-baseline: middle;
  text-anchor: end;
}
